{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/account" method="post">
        <div class="form-group">
            <h4>Curent Balance: $ {{ "%.2f" |format(cash) }}</h4>
        </div>
        <div class="form-group">
            <input id="add-number" autocomplete="off" class="form-control"
                   name="cash" placeholder="add cash" type="number" min="1000" max="10000">
        </div>
        <button id="cash-button" class="btn btn-primary" type="submit">Add</button>
    </form>
    <hr>
    <h4 id="{{ id }}">{{ message }}</h4>
{% endblock %}>