{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/history" method="get">
    <div class="table-hover">
        <table class="table">
            <thead>
                <td scope="col">Symbol</td>
                <td scope="col">Shares</td>
                <td scope="col">Price</td>
                <td scope="col">Transacted</td>
            </thead>
            <tbody>
                {% for tran in trans %}
                <tr>
                        <td>{{ tran.symbol }}</td>
                        <td>{{ tran.delta_shares }}</td>
                        <td>${{ tran.price_share }}</td>
                        <td>{{ tran.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </form>
    <hr>
{% endblock %}