{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option disabled selected value>Symbol</option>
                {% for share in shares %}
                    <option value="{{ share.symbol }}">{{ share.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input id="sell-number" autocomplete="off" class="form-control"
                   name="shares" placeholder="Shares" type="number" min="0">
        </div>
        <button id="symbol-button" class="btn btn-primary" type="submit">Sell</button>
    </form>
    <hr>
    <h4 id="{{ id }}">{{ message }}</h4>
{% endblock %}